[submodule "vim/pack/jjpryor/start/vim-airline"]
	path = vim/pack/jjpryor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/jjpryor/start/vim-airline-themes"]
	path = vim/pack/jjpryor/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/jjpryor/start/ale"]
	path = vim/pack/jjpryor/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/jjpryor/start/python-mode"]
	path = vim/pack/jjpryor/start/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "vim/pack/jjpryor/start/vim-puppet"]
	path = vim/pack/jjpryor/start/vim-puppet
	url = https://github.com/rodjek/vim-puppet
